
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: anflopezar
  password: rakidev
  host: localhost
development:
  <<: *default
  database: mine-portfolio_development
test:
  <<: *default
  database: mine-portfolio_test
production:
  <<: *default
  database: mine-portfolio_production
  username: mine-portfolio
  password: <%= ENV['MINE-PORTFOLIO_DATABASE_PASSWORD'] %>
